<div class="wrapper">
  <!-- Sidebar  -->
  <nav class="bg-dark" id="sidebar">
      <div class="sidebar-header">
        <img src="../../../../assets/icons/bluetek.png" width="100" height="100" class="d-inline-block align-center" alt="">
      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a class="nav-link" routerLink="../login">
                <i class="fa fa-home fa-1x"></i>
                <p>Inicio</p>
              </a>
          </li>
          <li>
            <a class="nav-link" routerLink="../login">
              <i class="fa fa-pie-chart fa-1x"></i>
              <p>Estadistica</p>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="../login">
              <i class="fa fa-user fa-1x"></i>
              <p>Socios</p>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="../login">
              <i class="fa fa-institution fa-1x"></i>
              <p>Sucursales</p>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="../login">
              <i class="fa fa-hourglass-half fa-1x"></i>
              <p>Horarios</p>
            </a>
          </li>
      </ul>
  </nav>

  <!-- Contenido  -->
  <div id="content">
    <app-navbar></app-navbar>
  </div>
</div>

