<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="./register.component.css" />
</head>

<body>
    <div class="container">
        <div class="register-container">
            <form class="register" action="">
                <h1 class="register-title">REGISTRARSE</h1>
                <div>
                    <label class="campos" for="Nombre">Nombre</label>
                    <input class="col1" type="text" placeholder="Nombre" class="input-field" />
                </div>
                <div>
                    <label class="campos" for="Apellido">Apellido</label>
                    <input class="col2" type="text" placeholder="Apellido" class="input-field" />
                </div>
                <div>
                    <label for="Nombre de usuario">Nombre de usuario</label>
                    <input type="text" placeholder="Nombre de usuario" class="input-field" />
                </div>
                <div>
                    <label for="Contraseña">Contraseña</label>
                    <input type="text" placeholder="Contraseña" class="input-field" />
                </div>
                <div>
                    <label for="Email">Correo electrónico</label>
                    <input type="email" placeholder="Email" class="input-field" />
                </div>
                <input href="#" class="volver" type="submit" class="submit" value="CANCELAR" />
                <input class="enviar" type="submit" class="submit" value="ENVIAR" />
            </form>
        </div>
    </div>
</body>

</html>